[Output]
output-format = colorized

[Main]
disable =
    line-too-long,
    missing-module-docstring,
    ; missing-class-docstring,
    missing-function-docstring,
    empty-docstring,
    ; invalid-name,
    ; import-error,
    ; using OOP incorrectly
    ; unused-private-member,
    ; protected-access,
    ; do not show TODO, FIXME comments
    fixme,
    no-else-return,
    ; inconsistent-return-statements,

[Format]
indent-string = \t
