[Main]
disable =
;     missing-module-docstring,
;     missing-class-docstring,
    missing-function-docstring,
;     empty-docstring,
    line-too-long,
;     import-error,
    invalid-name,

[Format]
indent-string = \t
